/*
 * Stylesheet for group1_su21 project
 */

body{
	background-color: green;
	margin: 0px auto;
	color: whitesmoke;
}

label {
	display: block;
	margin: 5px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 5px;
	border-bottom: 1px solid #aaa;
}

div.about-section{
	text-align: center;
  }

  div.column{
   text-align: center;
  }